## Visual Studio
.vs/
*.user
*.suo

## Build outputs
bin/
obj/

## NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json

## Logs
*.log

## IDE settings
*.userprefs

## Others
*.DS_Store
*.sqlite
*.db
*.db-shm
*.db-wal

## Visual Studio cache files
*.ide
*.cache

## Publish folders
**/Properties/PublishProfiles/

## ASP.NET user secrets
**/appsettings.Development.json